.Dropdown {
  &__Header {
    cursor: pointer;
    position: relative;
  }

  &__Wrapper {
    position: relative;
  }

  &__Body-Wrapper {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #202123;
    position: absolute;
    top: calc(100% + 15px);
  }
}
