.CreateWallet {
  font-family: Roboto;

  &__TopInfoMessage {
    margin-bottom: 64px;
    color: white;
    font-size: 14px;
    @media only screen and (max-width: 520px) {
      margin-bottom: 8px;
    }
  }
  
  &__BottomInfoMessage {
    margin-top: 64px;
    color: white;
    font-size: 14px;
    @media only screen and (max-width: 520px) {
      margin-top: 8px;
    }
  }

  &__Address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    &-Input {
      width: 120%;
    }
    @media only screen and (max-width: 520px) {
      width: 80%;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__PasswordInputs {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 520px) {
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }

  &__TextCopied {
    color: rgb(60, 179, 79);
    margin-right: 4px;
    animation-name: tick-animation;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

  }

  @keyframes tick-animation {
    from {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
}
